users.csv filter=lfs diff=lfs merge=lfs -text
ratings.csv filter=lfs diff=lfs merge=lfs -text
movies.csv filter=lfs diff=lfs merge=lfs -text
companies.csv filter=lfs diff=lfs merge=lfs -text
cast.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
